# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.extensions.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repos\CSharp\csharp-extensions\.idea\.idea.extensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
